@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

html {font-size: 16px;}

body { 
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, Oxygen, Avenir, 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000;
  font-size: .8125rem; 
}

a {color: #0035af;}
a:hover {color: #0085ff;}

h1 {
  font-size: 1.85rem;
  margin-bottom: 5px;
  font-family: 'Concert One', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, Oxygen, Avenir, 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  color: #555;
  margin-top: 0;
  margin-bottom: 15px;
}

.container-fluid {max-width: 1300px;}

.submit-buttons {
  margin-top: 30px;
  margin-bottom: 10px;
}

.form-control {
  font-weight: normal;
  font-size: .8125rem;
}

.form-inline .form-control {width: 100%;}

.btn-primary, .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #054bb3;
  border-color: #054bb3;
}

.pagination>li>a, .pagination>li>span {color: #054bb3;}

.btn-default {
  color: #fff;
  background-color: #1d2b72;
  border-color: #1d1d6d;
}

.btn-default:hover {
  color: #fff;
  background-color: #334499;
  border-color: #334499;
}

.modal-header {border-bottom: none;}
.modal-body {padding: 0px 15px;}
.modal-footer {border-top: none;}

.close {
  font-size: 2rem;
  font-weight: 400;
}

.table>thead>tr>th {
 font-size: 1rem;
 border-bottom: 1px solid #ddd;
}

table, thead, table.dataTable.fixedHeader-floating, table.dataTable.fixedHeader-locked {background-color: #f9f8f4;}

table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {opacity: 1;}

table {
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid #f3f3f3;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child {padding-left: 2rem;}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {background-color: #054bb3;}
.table>tbody>tr>td, .table>tbody>tr>th/*, .table>tfoot>tr>td, .table>tfoot>tr>th*/ {
  padding: 0 .5rem;
  vertical-align: middle;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {background-color: rgba(225,225,255,0.8);}
.table>tfoot>tr>td, .table>tfoot>tr>th {color: #aaa;}

.date {font-size: .75rem;}
.name {
  font-size: .85rem;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
    text-align: left;
  }  
  .submit-buttons {
    text-align: left;
    margin-top: 0;
  }
}
